# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [45]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [46]:
s1 = pd.Series(np.random.randint(1, high=5, size=100))
s2 = pd.Series(np.random.randint(1, high=4, size=100))
s3 = pd.Series(np.random.randint(10000, high=30001, size=100))

print(s1, s2, s3)

0     4
1     3
2     2
3     4
4     3
     ..
95    2
96    3
97    3
98    2
99    4
Length: 100, dtype: int32 0     3
1     1
2     1
3     3
4     3
     ..
95    2
96    3
97    3
98    1
99    1
Length: 100, dtype: int32 0     23317
1     10623
2     23619
3     19556
4     13146
      ...
95    26235
96    10016
97    18747
98    18185
99    29171
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [47]:
housemkt = pd.concat([s1,s2,s3])
housemkt.head()

0    4
1    3
2    2
3    4
4    3
dtype: int32

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [48]:
housemkt.rename(columns = {0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)
housemkt.head()

TypeError: Series.rename() got an unexpected keyword argument 'columns'

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [49]:
bigcolumn = pd.concat([s1, s2, s3], axis=0)

# it is still a Series, so we need to transform it to a DataFrame
bigcolumn = bigcolumn.to_frame()
print(type(bigcolumn))

bigcolumn

<class 'pandas.core.frame.DataFrame'>

        0
0       4
1       3
2       2
3       4
4       3
..    ...
95  26235
96  10016
97  18747
98  18185
99  29171

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [50]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [51]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

         0
0        4
1        3
2        2
3        4
4        3
..     ...
295  26235
296  10016
297  18747
298  18185
299  29171

[300 rows x 1 columns]